a.more-button.more-button-big {
  font-size: 1.375em;
  display: inline-block;
  background-color: transparent;
  color: #3f3e3a;
  border-color: #3f3e3a;
  border-width: 2px;
  border-style: solid;
  padding-top: 0.4em !important;
  padding-bottom: 0.8em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

a.more-button.more-button-big:hover,
a.more-button.more-button-big:focus {
  background-color: #f4c825;
}

a.more-button.more-button-big.more-button-light {
  color: #eedb93;
  border-color: #eedb93;
}

a.more-button.more-button-big.more-button-light:hover,
a.more-button.more-button-big.more-button-light:focus {
  color: #3f3e3a;
  background-color: #eedb93;
}

a.more-button:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f101";
  margin-left: 0.4em;
}

body,
button,
input,
select,
textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 16px;
  background-color: #ffffff;
  color: #3f3e3a;
  line-height: 1.46;
  font-weight: 400;
}

main {
  display: block;
  margin-top: 3.6em;
  margin-bottom: 1.8em;
  overflow: hidden;
}

p {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
}

h1,
h2 {
  font-size: 2.8em;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 1.8em;
  text-transform: uppercase;
}

h5,
h6 {
  font-size: 1.45em;
  font-weight: 600;
}

h6 {
  font-size: 1.125em;
  text-transform: uppercase;
}

blockquote {
  display: block;
  overflow: hidden;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  margin-right: 0;
  margin-left: 0;
  padding: 1.8em !important;
  background-image: url("./img/blockquote.jpg");
  background-repeat: no-repeat;
  background-position: 50px 50px;
  background-color: #f7f3eb;
  border-left-color: #f4c825;
  border-left-style: solid;
  border-left-width: 5px;
}

blockquote p {
  font-size: 1.5em;
  font-weight: 300;
}

blockquote small {
  display: block;
  font-weight: 400;
  text-align: right;
  color: #98978b;
  font-size: 1em;
}

blockquote small:before {
  content: "\2014";
  margin-right: 0.8em;
}

blockquote *:first-child {
  margin-top: 0;
  padding-top: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.lead {
  font-size: 1.5em;
  font-weight: 300;
}

.small {
  font-size: 0.85em;
  font-weight: 400;
}

.focus-block {
  overflow: hidden;
  display: block;
}

.focus-block h2 {
  font-size: 1.75em;
  font-weight: 400;
  text-transform: none;
}

.focus-block h2:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f058";
  color: #27ae60;
  margin-right: 0.8em;
}

.focus-block ul {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  list-style-image: none;
  list-style-type: none;
}

.focus-block ul li {
  font-size: 1.5em;
  margin-bottom: 0.2em;
  margin-left: 1.8em;
  color: #74726b;
}

.focus-block ul li:before {
  content: "\2014";
  margin-right: 0.8em;
}

table.table {
  width: 100%;
  border-top-color: #f4c825;
  border-top-width: 5px;
  border-top-style: solid;
  border-spacing: 0;
  margin-bottom: 1.8em;
}

table.table tr th,
table.table tr td {
  text-align: left;
  margin: 0;
  border-bottom-color: #98978b;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

table.table tr th {
  background-color: #f2ede4;
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
}

table.table tr td {
  background-color: #f7f3eb;
}

table.table tr:nth-child(even) td {
  background-color: #ffffff;
}

.form {
  display: block;
  overflow: hidden;
  background-color: #f7f3eb;
  border-style: solid;
  border-width: 1px;
  border-color: #98978b;
  margin-right: 0;
  margin-left: 0;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  padding: 1.8em;
}

.form .warning_area,
.form .confirm_area {
  font-size: 1.25em;
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.8em;
  background-color: #c0392b;
  color: #ffffff;
  padding: 0.8em;
}

.form .confirm_area {
  background-color: #337ab7;
}

.form .field_row {
  display: block;
  overflow: hidden;
  margin-top: 0.8em;
}

.form .field_row .field_label,
.form .field_row .field_area {
  display: block;
  float: left;
}

.form .field_row .field_label {
  width: 40%;
}

.form .field_row .field_label label {
  display: block;
  text-align: right;
  font-size: 1.125em;
  padding-right: 0.8em;
  padding-top: 0.4em;
}

.form .field_row .field_label label:after {
  content: ':';
}

.form .field_row .field_label label.req {
  font-weight: 600;
}

.form .field_row .field_label label.req:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f005";
  color: #c0392b;
  margin-right: 0.4em;
}

.form .field_row .field_area {
  width: 60%;
}

.form .field_row .field_area .field_container {
  display: block;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #98978b;
  padding: 0.4em;
}

.form .field_row .field_area .field_container input,
.form .field_row .field_area .field_container textarea {
  display: block;
  background-color: transparent;
  border-style: none;
  border-width: 0;
  width: 100%;
  font-size: 1.125em;
  color: #3f3e3a;
}

.form .field_row .field_area .field_container input[type="text"]::-webkit-input-placeholder {
  color: #dfd7ca;
}

.form .field_row .field_area .field_container input[type="text"]::-moz-placeholder {
  color: #dfd7ca;
}

.form .field_row .field_area .field_container input[type="text"]:-ms-input-placeholder {
  color: #dfd7ca;
}

.form .field_row .field_area .field_container input[type="text"]::-ms-input-placeholder {
  color: #dfd7ca;
}

.form .field_row .field_area .field_container input[type="text"]::placeholder {
  color: #dfd7ca;
}

.form .field_row .field_area .field_container textarea {
  min-height: 3em;
}

.form .field_row input[type="submit"] {
  display: inline-block;
  margin-left: 40%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0.8em;
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #22527b;
  border-width: 1px;
  border-style: solid;
}

a {
  color: #337ab7;
  text-decoration: underline;
}

a:active {
  color: #2a689e;
}

a:hover,
a:focus {
  color: #c0392b;
  text-decoration: underline;
}

.container {
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

html,
body {
  min-width: 320px;
  padding: 0;
  margin: 0;
}

.full_row {
  clear: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

#main_header {
  display: block;
  margin: 0;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  background-color: #3f3e3a;
}

#main_header .header_logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#main_header .header_logo a.logo_image {
  display: inline-block;
  width: 3.125em;
  margin-right: 2.77778%;
}

#main_header .header_logo a.logo_image img {
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#main_header .header_logo .phone {
  font-size: 1.75em;
  color: #ffffff;
}

#main_header .header_logo .phone span {
  font-weight: 600;
}

#main_header .header_logo .phone span a {
  color: #ffffff;
  text-decoration: none;
}

#main_header .header_logo .phone span a:hover,
#main_header .header_logo .phone span a:focus {
  color: #ffffff;
  text-decoration: none;
}

#main_header .header_navi {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: right;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

#main_header .header_navi ul.header_contacts {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  list-style-image: none;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 0.85em;
}

#main_header .header_navi ul.header_contacts li {
  display: inline-block;
  color: #eedb93;
  margin-left: 2em;
}

#main_header .header_navi ul.header_contacts li a {
  color: #eedb93;
}

#main_header .header_navi ul.header_contacts li a:hover,
#main_header .header_navi ul.header_contacts li afocus {
  color: #f4c825;
}

#main_header .header_navi ul.header_contacts li.phone {
  color: #ffffff;
  display: none;
}

header#title_area {
  background-color: #f2ede4;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header#title_area h1 {
  clear: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  font-size: 2.8em;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

footer.main_footer {
  display: block;
  overflow: hidden;
  margin-top: 5.4em;
  color: #ffffff;
}

footer.main_footer a {
  color: #ffffff;
  text-decoration: underline;
}

footer.main_footer a:hover,
footer.main_footer a:focus {
  text-decoration: underline;
  color: #eedb93;
}

footer.main_footer .footer_navi,
footer.main_footer .footer_copy {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

footer.main_footer .footer_navi {
  background-color: #4f4d47;
  padding-top: 1.1em;
  padding-bottom: 2.2em;
  border-top-color: #3f3e3a;
  border-top-style: solid;
  border-top-width: 5px;
}

footer.main_footer .footer_navi .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer.main_footer .footer_navi .container .navi_block {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  margin-top: 1.1em;
}

footer.main_footer .footer_navi .container .navi_block p {
  margin: 0;
  padding: 0;
}

footer.main_footer .footer_navi .container .navi_block p.footer_contact_item {
  margin-bottom: 0.5em;
}

footer.main_footer .footer_navi .container .navi_block p.footer_contact_item:first-child {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0;
}

footer.main_footer .footer_navi .container .navi_block p.small {
  font-size: 0.7em;
  margin-bottom: 1.2em;
}

footer.main_footer .footer_navi .container .navi_block .footer_menu {
  display: block;
  overflow: hidden;
}

footer.main_footer .footer_navi .container .navi_block .footer_menu h3 {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}

footer.main_footer .footer_navi .container .navi_block .footer_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer.main_footer .footer_navi .container .navi_block .footer_menu ul li {
  display: block;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

footer.main_footer .footer_navi .container .navi_block .footer_menu ul li:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0da";
  margin-left: 0.8em;
  margin-right: 0.4em;
}

footer.main_footer .footer_navi .container .navi_block .footer_menu ul li a {
  text-decoration: none;
}

footer.main_footer .footer_navi .container .navi_block .footer_menu ul li a:hover,
footer.main_footer .footer_navi .container .navi_block .footer_menu ul li a:focus {
  text-decoration: underline;
}

footer.main_footer .footer_copy {
  display: block;
  overflow: hidden;
  margin: 0;
  padding-top: 2.2em;
  padding-bottom: 2.2em;
  background-color: #3f3e3a;
}

footer.main_footer .footer_copy .right_navi {
  display: block;
  clear: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

footer.main_footer .footer_copy .right_navi ul.menu-list {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.75em;
}

footer.main_footer .footer_copy .right_navi ul.menu-list li {
  display: block;
  float: left;
  padding: 0;
  margin-bottom: 1.1em;
  margin-right: 1.1em;
}

footer.main_footer .footer_copy .footer_info .data_area {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  font-size: 0.75em;
}

footer.main_footer .footer_copy .footer_info .data_area:last-child {
  text-align: right;
}

.sidebar_block {
  display: block;
  overflow: hidden;
  margin-bottom: 1.8em;
}

.main_menu {
  display: block;
  overflow: hidden;
}

.main_menu .toggle_button {
  display: none;
}

.main_menu ul.top_menu {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  list-style-image: none;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 0.8em;
}

.main_menu ul.top_menu li {
  display: inline-block;
  margin-left: 1.5em;
  text-transform: uppercase;
}

.main_menu ul.top_menu li > a {
  text-decoration: none;
  color: #dfd7ca;
}

.main_menu ul.top_menu li > a:hover,
.main_menu ul.top_menu li > afocus {
  color: #f4c825;
  text-decoration: underline;
}

.main_menu ul.top_menu li > a.selected {
  color: #f4c825;
}

.breadcrumb {
  display: block;
  background-color: #dfd7ca;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
}

.breadcrumb .msav-breadcrumb {
  clear: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

.breadcrumb .msav-breadcrumb > .bx-breadcrumb-item {
  font-size: 0.85em;
  display: block;
  float: left;
  margin-right: 0.4em;
}

.breadcrumb .msav-breadcrumb > .bx-breadcrumb-item i {
  color: #98978b;
}

.breadcrumb .msav-breadcrumb > .bx-breadcrumb-item a {
  color: #98978b;
  text-decoration: none;
}

.breadcrumb .msav-breadcrumb > .bx-breadcrumb-item a:hover,
.breadcrumb .msav-breadcrumb > .bx-breadcrumb-item a:focus {
  color: #c0392b;
  text-decoration: underline;
}

.advantages_area {
  background-color: #fdf2d8;
  display: block;
  overflow: hidden;
}

.advantages_area h2 {
  clear: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  display: block;
  text-align: center;
  font-size: 3.75em;
  margin-top: 0.8em;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}

.advantages_area .advantage_item {
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  padding: 0.8em;
}

.advantages_area .advantage_item h3 {
  display: inline-block;
  max-width: 100%;
  background-color: #337ab7;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-top: 0;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.advantages_area .advantage_item p {
  display: block;
  font-size: 1.675em;
  font-weight: 300;
  margin-top: 0;
  margin-left: 2.6em;
}

ul.services-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

ul.services-list li {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

ul.services-list li .services-list-container {
  display: block;
  border-style: solid;
  border-width: 2px;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  background-color: #ffffff;
}

ul.services-list li .services-list-container h3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0.8em;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

ul.services-list li .services-list-container h3 a {
  color: #ffffff;
  text-decoration: none;
}

ul.services-list li .services-list-container h3 a:hover,
ul.services-list li .services-list-container h3 a:focus {
  text-decoration: underline;
  color: #f7f3eb;
}

ul.services-list li .services-list-container p {
  margin-left: 0.8em;
  margin-right: 0.8em;
}

ul.services-list li .services-list-container p.more-area {
  margin-bottom: 0.8em;
  text-align: right;
}

ul.favorite_tasks {
  list-style: none;
  padding: 0;
  margin: 1.38889%;
  display: block;
  overflow: hidden;
}

ul.favorite_tasks li {
  display: block;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  overflow: hidden;
  width: 100%;
  border-bottom-color: #98978b;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

ul.favorite_tasks li .name_cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

ul.favorite_tasks li .time_cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: right;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

ul.favorite_tasks li.task_row_header {
  border-top-color: #98978b;
  border-top-width: 2px;
  border-top-style: solid;
  font-size: 1.625em;
}

ul.favorite_tasks li.task_row_header .header_name span {
  display: inline-block;
  margin-left: 90px;
}

ul.favorite_tasks li.task_row_header .header_name span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f103";
  margin-right: 0.4em;
}

ul.favorite_tasks li.task_row_header .header_time span {
  display: inline-block;
}

ul.favorite_tasks li.task_row_header .header_time span:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 0.4em;
  color: #c0392b;
  content: "\f005";
}

ul.favorite_tasks li:nth-child(odd) {
  background-color: #dfd7ca;
}

ul.favorite_tasks li .task_descr .task_icon {
  float: left;
  margin-top: 0.8em;
}

ul.favorite_tasks li .task_descr h3,
ul.favorite_tasks li .task_descr p {
  margin-left: 90px;
}

ul.favorite_tasks li .task_descr h3 {
  margin-top: 0;
  font-size: 1.75em;
  text-transform: uppercase;
}

ul.favorite_tasks li .task_descr p {
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: 0;
}

ul.favorite_tasks li .task_time {
  font-size: 1.25em;
  font-weight: 600;
  text-align: right;
}

p.favorite_tasks_note {
  clear: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  margin-top: 0;
}

p.favorite_tasks_note:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.4em;
  color: #c0392b;
  content: "\f005";
}

.services_menu_block h3 {
  display: block;
  margin: 0;
  padding: 15px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  background-color: #f2ede4;
  border-top-color: #f4c825;
  border-top-width: 4px;
  border-top-style: solid;
  border-bottom-color: #dfd7ca;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.services_menu_block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.services_menu_block ul li {
  font-size: 1.2em;
}

.services_menu_block ul li a {
  display: block;
  color: #3f3e3a;
  text-decoration: none;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-color: #dfd7ca;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #dfd7ca;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #ffffff;
}

.services_menu_block ul li a:hover,
.services_menu_block ul li a:focus {
  text-decoration: underline;
  border-top-color: #f4c825;
  border-bottom-color: #f4c825;
  background-color: #f4c825;
}

.services_menu_block ul li:nth-child(even) a {
  background-color: #f7f3eb;
}

.services_menu_block ul li:nth-child(even) a:hover,
.services_menu_block ul li:nth-child(even) a:focus {
  text-decoration: underline;
  border-top-color: #f4c825;
  border-bottom-color: #f4c825;
  background-color: #f4c825;
}

.msav_all_contacts {
  display: block;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  padding: 0;
  border-left-color: #f4c825;
  border-left-width: 5px;
  border-left-style: solid;
}

.msav_all_contacts h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #f4c825;
  font-size: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.msav_all_contacts h2 span {
  font-size: 2em;
  font-weight: 400;
  text-transform: none;
}

.msav_all_contacts .msav_all_contacts_body {
  display: block;
  overflow: hidden;
  padding: 1.8em;
}

.msav_all_contacts p {
  font-size: 1.5em;
  margin-top: 0.4em;
  margin-bottom: 0;
}

.msav_all_contacts p.phone {
  font-size: 2em;
  margin-top: 0;
}

.msav_all_contacts p.phone em {
  font-style: normal;
  font-size: 0.5em;
}

.articles-list {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
}

.articles-list > .articles-item {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border-bottom-color: #dfd7ca;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.articles-list > .articles-item h2 {
  font-size: 1.4em;
  font-weight: 400;
  text-transform: none;
}

.articles-list > .articles-item p {
  margin-left: 1.8em;
}

.articles-list > .articles-item p.more_link {
  text-align: right;
}

.articles-list > .articles-item:last-child {
  border-bottom-color: transparent;
  border-bottom-width: 0;
  border-bottom-style: none;
}

ul.in-content-menu {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  list-style-image: none;
  list-style-type: none;
  background-color: #f2ede4;
  border-top-color: #f4c825;
  border-top-width: 4px;
  border-top-style: solid;
  border-bottom-color: #dfd7ca;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-right-color: #dfd7ca;
  border-right-width: 2px;
  border-right-style: solid;
  border-left-color: #dfd7ca;
  border-left-width: 2px;
  border-left-style: solid;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  padding: 1.8em;
}

ul.in-content-menu > li {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

ul.in-content-menu > li a {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  font-size: 1.2em;
  padding: 0.8em;
  background-color: #ffffff;
  border-color: #dfd7ca;
  border-width: 1px;
  border-style: solid;
  color: #3f3e3a;
  text-decoration: none;
}

ul.in-content-menu > li a:hover,
ul.in-content-menu > li a:focus {
  text-decoration: underline;
  background-color: #f4c825;
  border-color: #f4c825;
}

ul.in-content-menu > li:first-child {
  margin-top: 0;
}

ul.in-content-menu > li:last-child {
  margin-bottom: 0;
}

.page-navi {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

.page-navi > p {
  margin-top: 0;
  margin-bottom: 0;
}

.page-navi ul.page-navi-items {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  list-style-image: none;
  list-style-type: none;
}

.page-navi ul.page-navi-items > li {
  display: block;
  float: left;
  margin-left: .4em;
  margin-right: .4em;
  margin-top: 0.8em;
  margin-bottom: 0;
}

.page-navi ul.page-navi-items > li > span {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  background-color: #ffffff;
  border-color: #dfd7ca;
  border-width: 2px;
  border-style: solid;
  padding-left: .6em;
  padding-right: .6em;
  padding-top: .15em;
  margin-bottom: .15em;
  color: #3f3e3a;
}

.page-navi ul.page-navi-items > li > a {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
  border-width: 0;
  border-style: none;
  background-color: #ffffff;
  border-color: #dfd7ca;
  border-width: 2px;
  border-style: solid;
  padding-left: .6em;
  padding-right: .6em;
  padding-top: .15em;
  margin-bottom: .15em;
  color: #3f3e3a;
  background-color: #f2ede4;
}

.page-navi ul.page-navi-items > li > a:hover,
.page-navi ul.page-navi-items > li > a:focus {
  border-color: #f4c825;
  background-color: #f4c825;
}

.page-navi ul.page-navi-items > li:first-child {
  margin-left: 0;
}

a#to_top_button {
  display: none;
  position: fixed;
  width: 64px;
  height: 64px;
  right: 2%;
  bottom: 5%;
  background-repeat: no-repeat;
  background-image: url("./img/to-top.png");
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
  opacity: 0.6;
  z-index: 999;
}

.column_two {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

.column_two > *:first-child {
  padding-top: 0;
  margin-top: 0;
}

main.right_sidebar_container > *:first-child,
aside.right_sidebar > *:first-child {
  padding-top: 0;
  margin-top: 0;
}

main.right_sidebar_container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

aside.right_sidebar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: right;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  margin-top: 3.6em;
  margin-bottom: 1.8em;
  padding-top: 0;
  padding-bottom: 0;
}

main.no_container {
  margin-top: 0;
  padding-top: 0;
}

main.no_sidebar {
  clear: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

@media screen and (max-width: 1200px) {
  #main_header .header_logo .phone {
    font-size: 1.4em;
  }

  .main_menu ul.top_menu {
    margin-top: 1.1em;
  }

  .main_menu ul.top_menu li {
    margin-left: 1.1em;
    font-size: 0.85em;
  }

  .advantages_area .advantage_item h3 {
    font-size: 2em;
  }

  ul.services-list li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  main.right_sidebar_container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  aside.right_sidebar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: right;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}

@media screen and (max-width: 992px) {
  #main_header .header_logo {
    display: none;
  }

  #main_header .header_navi {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  #main_header .header_navi ul.header_contacts li.phone {
    display: inline-block;
  }

  footer.main_footer .footer_navi .container .navi_block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  .main_menu ul.top_menu {
    margin-top: 0.8em;
  }

  .main_menu ul.top_menu li {
    font-size: 1em;
  }

  .advantages_area .advantage_item p {
    font-size: 1.375em;
    margin-left: 1.8em;
  }

  ul.services-list li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  ul.favorite_tasks li .name_cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  ul.favorite_tasks li .time_cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: right;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  .column_two {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}

@media screen and (max-width: 768px) {
  #main_header .header_logo {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0.8em;
  }

  #main_header .header_navi ul.header_contacts {
    display: none;
  }

  footer.main_footer .footer_copy .footer_info .data_area {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  .main_menu .toggle_button {
    position: relative;
    display: block;
    width: 49px;
    height: 49px;
    border-color: #eedb93;
    border-width: 3px;
    border-style: solid;
    margin: 0 auto;
    cursor: pointer;
  }

  .main_menu .toggle_button .toggle_line {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: #eedb93;
    display: block;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .main_menu .toggle_button .toggle_line_top {
    top: 10px;
  }

  .main_menu .toggle_button .toggle_line_middle {
    top: 23px;
  }

  .main_menu .toggle_button .toggle_line_bottom {
    top: 36px;
  }

  .main_menu .toggle_button.active .toggle_line_top {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
  }

  .main_menu .toggle_button.active .toggle_line_middle {
    opacity: 0;
  }

  .main_menu .toggle_button.active .toggle_line_bottom {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%;
  }

  .main_menu ul.top_menu {
    display: none;
  }

  .main_menu ul.top_menu li {
    display: block;
    margin-left: 0;
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .breadcrumb {
    display: none;
  }

  .advantages_area h2 {
    font-size: 3em;
  }

  .advantages_area .advantage_item {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  .advantages_area .advantage_item p {
    font-size: 1.8em;
    font-weight: 400;
  }

  .advantages_area .advantage_item p {
    font-size: 1.6em;
    font-weight: 300;
    margin-left: 1.1em;
  }

  ul.services-list li {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  ul.favorite_tasks li .name_cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  ul.favorite_tasks li .time_cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: right;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  ul.favorite_tasks li .task_descr h3 {
    margin-top: 0.8em;
  }

  ul.favorite_tasks li .task_descr p {
    display: none;
  }

  ul.favorite_tasks li .task_time {
    font-size: 1.75em;
    font-weight: 400;
    margin-top: 0.8em;
  }

  main.right_sidebar_container {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  aside.right_sidebar {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}

@media screen and (max-width: 624px) {
  footer.main_footer .footer_navi .container .navi_block {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  ul.favorite_tasks li .name_cell {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  ul.favorite_tasks li .time_cell {
    clear: both;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }

  ul.favorite_tasks li.task_row_header .header_name span {
    margin-left: 0;
  }

  ul.favorite_tasks li.task_row_header .header_time {
    display: none;
  }

  ul.favorite_tasks li .task_descr .task_icon {
    float: none;
    margin: 0 auto;
  }

  ul.favorite_tasks li .task_descr h3 {
    margin-left: 0;
    font-size: 1.25em;
  }
}

@media screen and (max-width: 480px) {
  h1,
  h2 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5,
  h6 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 1.05em;
  }

  .focus-block h2 {
    font-size: 1.4em;
  }

  .focus-block ul li {
    font-size: 1.1em;
    margin-left: 0.8em;
  }

  header#title_area h1 {
    font-size: 1.8em;
  }

  .advantages_area h2 {
    font-size: 2.2em;
  }

  .msav_all_contacts h2 {
    padding: 0.8em;
  }

  .msav_all_contacts h2 span {
    font-size: 1.5em;
  }

  .msav_all_contacts .msav_all_contacts_body {
    padding: 0.8em;
  }

  .msav_all_contacts p {
    font-size: 1.2em;
  }

  .msav_all_contacts p.phone {
    font-size: 1.8em;
  }

  .msav_all_contacts p.phone em {
    display: block;
  }
}