@charset "UTF-8";
//
// ЭЛЕМЕНТЫ ШАПКИ САЙТА
//

#main_header {
  display: block;
  margin: 0;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  background-color: $color_lib_01;

  .header_logo {
    @include span(first 4);
    display: flex;
    align-items: center;
    @media screen and (max-width: $screen-md) {
      display: none;
    }
    @media screen and (max-width: $screen-sm) {
      @include full();
      display: flex;
      justify-content: center;
      margin-bottom: $margin-small;
    }

    a.logo_image {
      display: inline-block;
      width: 3.125em;
      margin-right: gutter() * 2;
      img {
        width: 100%;
        border-radius: 50%;
      }
    } // a.logo_image

    .phone {
      font-size: 1.75em;
      color: $color-bg;
      span {
        font-weight: 600;
        a {
          color: $color-bg;
          text-decoration: none;
          &:hover,
          &:focus {
            color: $color-bg;
            text-decoration: none;
          }
        }
      }
      @media screen and (max-width: $screen-lg) {
        font-size: 1.4em;
      }
    } // .phone
  } // .header_logo

  .header_navi {
    @include span(last 8);
    @media screen and (max-width: $screen-md) {
      @include full();
    }

    ul.header_contacts {
      @include no_list;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-size: 0.85em;
      @media screen and (max-width: $screen-sm) {
        display: none;
      }

      li {
        display: inline-block;
        color: $color_lib_07;
        margin-left: 2em;
        a {
          color: $color_lib_07;
          &:hover,
          &focus {
            color: $color_lib_05;
          }
        }
        &.phone {
          color: $color-bg;
          display: none;
          @media screen and (max-width: $screen-md) {
            display: inline-block;
          }
        }
      }
    } // ul.header_contacts
  } // .header_navi

} // #main_header


//
// Заголовок сайта
//
header#title_area {
  background-color: $color-header-bg;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  h1 {
    @include full();
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    @media screen and (max-width: $screen-xs) {
      font-size: 1.8em;
    }
  }
}