@charset "UTF-8";

//
// Стиль страницы с правым сайдбаром
//

main.right_sidebar_container,
aside.right_sidebar {
  > *:first-child {
    padding-top: 0;
    margin-top: 0;
  }
}

main.right_sidebar_container {
  @include span(first 9);
  @media screen and (max-width: $screen-lg) {
    @include span(first 8);
  }
  @media screen and (max-width: $screen-sm) {
    @include full();
  }
} // main.right_sidebar_container


aside.right_sidebar {
  @include span(last 3);
  @media screen and (max-width: $screen-lg) {
    @include span(last 4);
  }
  @media screen and (max-width: $screen-sm) {
    @include full();
  }
  margin-top: $margin-base * 2;
  margin-bottom: $margin-base;
  padding-top: 0;
  padding-bottom: 0;
} // aside.right_sidebar